@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {

  --color-text:#fff;
  --color-background:#00000042;

}
*{
   font-family: "Comfortaa", sans-serif;
}

.bar-names{
   z-index: -1;
   transform: translateX(-130px);
   transition: ease-in-out 0.5s;
}

.gradient-btn{
    background: linear-gradient(to left,#eb04fc  , #308ef9,#398be9);
}

.card:hover{
   .card-child{
    opacity: 1;
   }
   
}